body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Card{
  background-color:rgb(76, 77, 77);
  width: 250px;
  height: 150px;
  margin-top: 20px;
  color: white;
  font-size: 18px;
  border-radius: 15px;
  border: 3px solid orange;
  text-align: center;
  justify-content: center;
}
.Container{
  display:flex;
  flex-wrap: wrap;
  
}
